<div class="space_padding"></div>
<div align="center">
  <h1>Records</h1>
</div>
<div class="space_padding"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-condensed">
        <thead>
        <tr>
          <th>Check In</th>
          <th>Check Out</th>
          <th>Employee</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @reports.each do |check| %>
          <tr>
            <td><%= check['check_in'] %></td>
            <td><%= check['check_out'] %></td>
            <td><%= check['user_id'] %></td>
            <%if check['check_out'].nil? %>
              <td><%= link_to 'check out', edit_record_path(id: check['id']), :class => 'btn btn-info' %></td>
            <% else %>
              <td style="color: blue;">Finish</td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div>
        <%= link_to 'New Record', new_record_path(employee_id: params[:employee_id]), :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
