<div class="space_padding"></div>
<div align="center">
  <h1>Companies</h1>
</div>
<div class="space_padding"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
          <!--th>ID</th-->
          <th>Name</th>
          <th>RFC</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @companies.each do |companie| %>
          <tr>
            <!--td><%= companie['id'] %></td-->
            <td><%= companie['name'] %></td>
            <td><%= companie['rfc'] %></td>
            <td><%= companie['email'] %></td>
            <td><%= companie['phone'] %></td>
            <td><%= "#{companie['state']} #{companie['suburb']} #{companie['address']} #{companie['number_ext']} #{companie['number_int']} #{companie['postal_code']} " %></td>
            <td><%= link_to 'Employees', employees_path(companie_id: companie['id'], created_at: params[:created_at]), :class => 'btn btn-primary' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>