<!DOCTYPE html>
<html>
  <head>
    <title>PanelRh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-darkt justify-content-end">
    <ul class="navbar-nav">
      <%# if current_user!.nil?
        puts "ajsdhjhaskdjhjasdhjksa", @current_user

      %>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <%#else %>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
        <li class="nav-item">
          <%= link_to 'Companies', companies_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Employees', employees_path, :class => 'nav-link' %>
        </li>
      <li class="nav-item">
        <%= link_to 'Reports', records_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Reports', reports_path, :class => 'nav-link' %>
      </li>
        <%# end %>
    </ul>
  </nav>
  </div>
  <div class="right_col" role="main">
    <div id="page">
      <% if flash[:alert] %>
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= flash[:alert] %>!</strong>
        </div>
      <% end %>
      <% if flash[:danger] %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= flash[:danger] %>!</strong>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= flash[:notice] %>!</strong>
        </div>
      <% end %>
      <% if flash[:successfully] %>
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= flash[:successfully] %>!</strong>
        </div>
      <% end %>
      <% if flash[:warning] %>
        <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= flash[:warning] %>!</strong>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
